@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.App {
  text-align: center;
  background: url('../public/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
 .title-app {
    font-size: 6vw;
    line-height: 1.2;
 }

 .lap-timer {
  text-align: right;
  font-size: 3vw;
  margin-right: 50px;
 }
 .lap-locator {
  text-align: right;
  margin-right: 5px;
  color: white;
  margin-right: 50px;
 }
 .time-timer {
  font-size: 7vw;
  color: aliceblue;
 }
 .digital {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 8vw;
  position: relative;
  top: 10px;
 }
 .btn-box{
  display: inline-flex;
  gap: 20px;
 }
 .btn-box button {
  background: linear-gradient(45deg, red, yellow);
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 8px;
  color: black;
  border: 1px solid black;
  font-weight: bold;
 }

 .modal-box {
  max-height: 300px;
  overflow-y: scroll;
  background-color: rgba(240, 230, 230, 0.5);
  width: 300px;
  position: relative;
  bottom: 100px;
  left: 20px;

 }
 .modal-box .lap-each {
  display: flex;
  font-size: 18px;
  margin-top: 10px;
 }
 .reset-btn {
  background-color: black;
  color: white;
  font-weight: bold;
  width: 60px;
  height: 30px;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 50px;
  cursor: pointer;
 }
 .rec-margin {
  margin-left: '175px'
 }
@media (max-width:1000px){
  .title-app {
    font-size: 9vw;
    line-height: 2;
  }
  .lap-timer {
  text-align: right;
  font-size: 6vw;
  margin-right: 30px;
 }
 .lap-locator {
  text-align: right;
  margin-right: 30px;
  color: white;
  font-size: 30px;
 }
 .time-timer {
  font-size: 16vw;
 }
 .modal-box {
  width: 250px;
  max-height: 160px;
  bottom: -30px;
  font-size: 15px;
 }
 .digital {
  top: 8px;
  font-size: 16vw;
 }
 .rec-margin {
  margin-left: 120px;
 }
 .btn-box button {
  margin-top: 20px;
  width: 100px;
 }
}

 @media (min-width:480px) and (max-width:768px) {
  .title-app {
    font-size: 8vw;
    line-height: 2;
  }
  .lap-timer {
  text-align: right;
  font-size: 6vw;
  margin-right: 30px;
 }
 .lap-locator {
  text-align: right;
  margin-right: 30px;
  color: white;
  font-size: 25px;
 }
 .time-timer {
  font-size: 9vw;
 }
 .modal-box {
  width: 150px;
  max-height: 160px;
  bottom: -80px;
  font-size: 15px;
 }
 .digital {
  top: 6px;
 }
 .rec-margin {
  margin-left: 40px;
 }
 .btn-box button {
  margin-top: 20px;
  width: 100px;
 }
 }

 @media (min-width:480) {
  .modal-box {
    width: 50px;
  }
 }